#showcase .bg-image {
    position: absolute;
    background: #333
       url("../images/slide01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.4;
}
.H1-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Metal Mania";
    font-weight: normal;
    color: white;
}
.H1-name-large {
    font-size: 3em;
}
.H5-name {
    text-align: center;
    margin: 0;
    font-family: "Metal Mania";
    font-weight: normal;
    color: white;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}
.btn-header {
    margin: 3em 15% 3em 15%;
    color: white;
    border: 2px solid #2D9CD8;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}
.content-wrap {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 1.5em; 
}
.H2-sect-A {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Metal Mania";
    font-weight: normal;
    color: black;
}
.H2-sect-A-large {
    font-size: 2em;
}
.lorem {
    display: inline-block;
    padding-right: .5em;
}
.lorem-1 {
        width: 24%;
}
.lorem-2 {
    width: 24%;
}
.section-a {
    padding: 1em;
    margin: 1em;
    text-align: center;
}



